.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.main-region {
    margin: 50px 0 100px 0;
    font-family: var(--font-family-CenturyGothic);
}

.container {
    min-height: 500px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    .row {
        min-height: 100%;
        display: flex;
    }
}

//Left region
.left-region {
    width: 30%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.child-of-left-region {
    background-color: #fbfbfb;
    width: 100%;
    height: auto;
}

.left-region-content {
    padding: 35px 30px;

    h2 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border: 0;
        margin: 0 0 15px;
        font-size: 20px;
        color: var(--secondary-color);
        font-weight: bold;
        text-transform: uppercase;
    }
}

.genre-filter {
    width: 100%;
}

.filter {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

//Custom checkbox
input[type='checkbox'],
input[type='radio']{
    display: none;
}

.custom-checkbox span,
.custom-radio span{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
    border: 1px solid var(--secondary-color);
    background-color: #fbfbfb;
    transition: all 0.3s ease;
}

input[type='checkbox']:checked + span,
input[type='radio']:checked + span{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    position: relative;
}

input[type='checkbox']:checked + span::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.sort-filter h2 {
    margin-top: 40px;
}

.btn-region {
    clear: both;
    padding-top: 55px;
    margin-top: 40px;
    display: block;
    text-align: center;
}

.apply-btn {
    max-width: 260px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    padding: 16px 55px;
    color: white;
    font-size: 20px;
    border-radius: 0;
    border: 0;
    background-color: #50a994;
    text-decoration: none;
    padding: 15px 55px;
    width: 100%;

    &:hover {
        background-color: #15917a;
    }
}

//Right region
.right-region {
    width: 70%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
    line-height: 1.28;
    margin-bottom: 30px;

    p{
        margin-top: 10px;
        font-weight: normal;
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }
}

.sort-format {
    display: flex;
    margin: 24px 0 35px;
    justify-content: end;
    align-items: center;
    padding-right: 40px;

    .icon {
        margin-left: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}

.block {
    margin-bottom: 0;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.list {
    display: flex;
    width: 100%;
    //white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

//Pagination
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
        text-decoration: none;
        background-color: #85c0b2;
        color: #fff;
    }
}

.pagination .active a {
    background-color: var(--primary-color);
    color: white;
}

.pagination .disabled a {
    color: #ccc;
    pointer-events: none;
}
