.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    user-select: none;
    background-color: #f6f5f2;
}

.container {
    font-size: 14px;
    line-height: 1.4rem;
    background-color: #f6f5f2;
    margin-top: 100px;

    @media (min-width: 1200px) {
        position: relative;
        width: 1190px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        width: 970px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        width: 750px;
    }

    @media (max-width: 767px) {
        width: 100%;
        margin-top: 0;
    }
}
